@media only screen and (max-width:1300px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .logo {

        font-size: 1.5rem;

        /* gap: 8px; */

    }

    .logo .material-symbols-outlined {
        font-size: 2rem;
    }

    body {
        padding: 15px;
    }

    .searchAndLoc {
        width: 100%;
    }

    .searchBar input {
        width: 60vw;
    }

    .currentLocation button {
        padding: 9px;
        border-radius: 50%;

    }


    .mainBody {
        flex-direction: column;
    }


    #currentTemp {
        gap: 0px;
        justify-content: space-between;
    }



    .leftSide {
        width: 100%;
    }

    .currentLocationText {
        display: none;
    }

    .rightSide {
        width: 100%;

    }

    .highlightsIndex .material-symbols-outlined {
        font-size: 1.8rem;
    }

    .highlightsIndexValue {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .airQualityIndex,
    .sun {
        width: 100%;
    }


    .allHighlights {
        gap: 0px;
    }

    .otherHighlights {
        gap: 15px;

    }

    #now {
        font-size: 1.4rem;
    }

    #clouds {
        font-size: 1.2rem;
    }

    .dateLoc .material-symbols-outlined {
        font-size: 1.6rem;
    }

    .dateLoc span {
        font-size: 1.1em;

    }

    .dailyData span {
        font-size: 1rem;

    }

    .hourlyData {
        padding: 15px;
    }


    .todaysHighlights {
        padding: 10px;
    }

    .highlightsChild {
        padding: 15px;
    }

    .airQualityIndex {
        padding: 11px;
    }


    .airQuality {
        padding: 2px;
        padding-right: 15px;
        padding-left: 15px;
    }



}
